<!DOCTYPE html>
<html lang="en" ng-app="temperatureController">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperature Controller</title>
     <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/lib/kendoui/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="static/lib/kendoui/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="static/lib/kendoui/styles/kendo.default.mobile.min.css" />
	<link rel="stylesheet" href="static/lib/FlipClock/compiled/flipclock.css" />

	<style>
		body  { font-size: 12px; font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; }

		#currentTempGauge, #targetTempGauge {
			position: absolute !important;
			width: 250px;
			height: 250px;
		}

		#displays {
			position: absolute !important;
			top: 250px;
			width: 300px;
            left: 10px;

		}


		#timeUtil {
			position: absolute !important;
			top: 280px;
			left: 370px;
		}

		#clock {
			position: absolute !important;
			width: 300px;
			right: 10px;

		}

		#sliders {
			position: absolute !important;
			top: 300px;
			--left: 370px;
		}

		#buttonsDiv{
			position: absolute !important;
			top: 415px;
			right: 10px;
		}

		#connectionStatus{
			position: absolute !important;
			top: 415px;
			left: 10px;
		}

        #environmentDisplays{
			position: absolute !important;
			top: 20px;
			left: 300px;
		}



		#outlets {
			position: absolute !important;
			top: 130px;
			left: 350px;
			width: 300px;

		}

		.custom-on-class-target {
			fill: red;
		}

		.custom-on-class-current {
			fill: black;
		}


        .custom-on-class-env-temp {
			fill: #c03c53;
	    }

         .custom-on-class-env-hum {
			fill: blue;
	    }
        .custom-digit-class-env {
			fill: #F0EDED;
			background-color: #fff;
		}

		.custom-digit-class {
			fill: #F0EDED;
			background-color: #F9F9F9;
		}




	</style>

    <script src="static/lib/kendoui/js/jquery.min.js"></script>
    <script data-require="angular.js@1.0.x" src="static/lib/kendoui/js/angular.min.js"></script>
    <script src="static/lib/kendoui/js/kendo.all.min.js"></script>
	<script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/lib/segment/angular-7segments.js"></script>
	<script src="static/lib/FlipClock/compiled/flipclock.min.js"></script>


</head>
<body ng-controller="GaugeCtrl">
<div>
	<audio id="audio" src="static/sounds/alarm-clock-01.mp3" autostart="false" ></audio>
    <div  >
	    <div id="gauges">
			<span  id="currentTempGauge"
				kendo-radialgauge
                k-scale="
				{
					min: -10,
					max: 110,
					startAngle: -60,
                    endAngle: 240,
					majorUnit: 5,
                    majorTicks: {
                        width: 1,
                        size: 7
                    },
                    minorUnit: 1,
                    minorTicks: {
                        size: 5
                    },
					ranges:
					[
						{
							from: -10,
							to: 0,
							color: '#0ED2F5'
						},
						{
							from: 100,
							to: 110,
							color: '#F5770E'
						}
					]
				}"

				k-pointer="
				[

					{
						value: {{currentTempGauge}},
						color:'#000000',
						cap:{ size:0.15}
					}
				]"

				ng-model="currentTempGauge"></span>

			<span  id="targetTempGauge"
				kendo-radialgauge
                k-scale="
				{
					min: -10,
					max: 110,
					startAngle: -60,
                    endAngle: 240,
					majorUnit: 5,
                    majorTicks: {
                        width: 1,
                        size: 7
                    },
                    minorUnit: 1,
                    minorTicks: {
                        size: 5
                    },
					ranges:
					[
						{
							from: -10,
							to: 0,
							color: '#0ED2F5'
						},
						{
							from: 100,
							to: 120,
							color: '#F5770E'
						}
					]
				}"

				k-pointer="
				[

					{
						value: {{targetTempGauge}},
						color:'#F40505'
					}

				]"

				ng-model="targetTempGauge"

				></span>




			<div id="buttonsDiv">
				&nbsp;&nbsp;&nbsp;
				<button ng-click="update()" class="btn btn-warning">
					<span class="glyphicon glyphicon-refresh"></span> Update
				</button>
				&nbsp;&nbsp;&nbsp;
				<button ng-click="reboot()" class="btn btn-danger">
					 <span class="glyphicon glyphicon-refresh"></span> Reboot
				</button>
				&nbsp;&nbsp;&nbsp;
				<button ng-click="shutdown()" class="btn btn-danger">
					<span class="glyphicon glyphicon-off"></span> Shutdown
				</button>
                &nbsp;&nbsp;&nbsp;
                <img ng-src="static/images/catspaw-rotulo-paw_logo.png" style="width:55px;height:50px" alt="Catspaw" />


			</div>

			<div id="connectionStatus">
				<div ng-show="connected" style="color:green"><h3><span class="glyphicon glyphicon-flash"></span> Connected!</h3></div>
				<div ng-show="!connected" style="color:red"><h2><span class="glyphicon glyphicon-ban-circle"></span>  NOT Connected!!!</h2></div>
			</div>


			<div id="displays">

				<table width="100%">
					<tr>
                        <td width="5%" style="color: red">
                            <span class="glyphicon glyphicon-screenshot"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
						<td >
							<div seg-group seg-options="options"
								data-ng-model="targetTempGauge"
								seg-digit-options="digitOptionsLCDTarget" > </div>
						</td>
                         <td style="color: red">ºC
                             &nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;</td>

						<td >
                            <span class="glyphicon glyphicon-fire"></span>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td >
							<div seg-group seg-options="options"
								data-ng-model="currentTempGauge"
								seg-digit-options="digitOptionsLCDCurrent" > </div>
						</td>
                        <td>ºC
                        &nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;</td>
					</tr>
				</table>

			</div>

            <div id="environmentDisplays">

				<table width="100%">
					<tr>

						<td style="color: blue">
                            <span class="glyphicon glyphicon-cloud"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td >
							<div seg-group seg-options="optionsLCD"
								data-ng-model="currentHumEnv"
								seg-digit-options="digitOptionsLCDHum" > </div>
						</td>
                        <td style="color: blue">%</td>
                    </tr>
                    <tr>
                         <td style="color: #c03c53">
                            <span class="glyphicon glyphicon-fire"></span>
                         </td>
                        <td>
							<div seg-group seg-options="optionsLCD"
								data-ng-model="currentTempEnv"
								seg-digit-options="digitOptionsLCDTemp" > </div>
						</td>
                        <td style="color: #c03c53">ºC</td>

                    </tr>
				</table>

			</div>


			<div id="timeUtil">
				<table width="100%">
					<tr>
						<td width="5%">
                        &nbsp;&nbsp;
						  <span class="glyphicon glyphicon-hourglass"></span>
                        </td>
                        <td>
							<div seg-group seg-options="optionsLCD"
								data-ng-model="currentTimeGauge"
								seg-digit-options="digitOptionsLCDCurrent" > </div>
						</td>
						<td>
                            &nbsp;&nbsp;
							<button type="button" class="btn btn-info" ng-click="setDownCountDownTimer()">
							  <span class="glyphicon glyphicon-minus"></span>
							</button>
							&nbsp;&nbsp;
							<button type="button" class="btn btn-danger" ng-click="setUpCountDownTimer()">
								  <span class="glyphicon glyphicon-plus"></span>
							</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span ng-show="currentTimeGauge == '.....'" class="glyphicon glyphicon-bell" style="font-size: 36px"></span>

						</td>
					</tr>
				</table>
			<br>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" ng-click="startTimer()">
					  <span class="glyphicon glyphicon-play"></span>
					</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" ng-click="pauseCountDownTimer()">
					  <span class="glyphicon glyphicon-pause"></span>
					</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" ng-click="stopCountDownTimer()">
					  <span class="glyphicon glyphicon-stop"></span>
					</button>

					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" ng-click="setCountDownTimer()">
					  <span class="glyphicon glyphicon-repeat"></span>
					</button>
			</div>


			<div id="sliders">
				<span style="text-align: center">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-info" ng-click="setDownTemp()">
					  <span class="glyphicon glyphicon-minus"></span>
					</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-danger" ng-click="setUpTemp()">
						  <span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>

			</div>

			<div id="outlets">

				<table width="100%">
					<tr>
						<td align="center" width="33%" style="color:#E25822">
							<span class="glyphicon glyphicon-fire"></span> Heating
							<img ng-src="static/images/outlet_{{outlet_A}}.png" style="width:110px;height:100px" alt="Outlet A" />
						</td>

						<td align="center" width="33%" style="color:#00FFFF">
							<span class="glyphicon glyphicon-tint"></span> Cooling
							<img ng-src="static/images/outlet_{{outlet_B}}.png" style="width:110px;height:100px" alt="Outlet B" />
						</td>

						<td align="center" width="33%" style="color:#000099">
							<span class="glyphicon glyphicon-cog"></span> Pump
							<img ng-src="static/images/outlet_{{outlet_C}}.png" style="width:110px;height:100px" alt="Outlet C" ng-click="doSwitchOutletC(outlet_C)" />
						</td>

					</tr>
				</table>

			</div>

			<div id="clock"></div>
			<div id="timeUtil">
				<div id ="clockCountDown"></div>
			</div>


		</div>
	</div>

	<script>
		angular.module("temperatureController", [ "kendo.directives", "wo.7segments" ])
			.controller("GaugeCtrl", function($scope, $http, $interval){
				$scope.targetTemp =  72;
			    $scope.targetTempGauge = "72";
				$scope.currentTempGauge = "27";
				$scope.targetTimeGauge = "000";
				$scope.currentTimeGauge = "000.00";

				$scope.currentTempEnv = "00.0";
				$scope.currentHumEnv =  "000.0";

				$scope.outlet_A = "off";
				$scope.outlet_B = "off";
				$scope.outlet_C = "off";
				$scope.switchOutletA =  1;
				$scope.switchOutletB =  1;
				$scope.switchOutletC =  0;
				$scope.connected = false;
				$scope.stopTime = null;
				$scope.isPaused = false;

				$scope.optionsLCD = {
					size: 5,
					watch: false
				};


				$scope.digitOptionsLCDTarget = {
					onClass: 'custom-on-class-target',   // class name for light-on part
					digitClass: 'custom-digit-class',    // class name for entire digit
					height: 40,
					width: 20
				};

				$scope.digitOptionsLCDCurrent = {
					onClass: 'custom-on-class-current',  // class name for light-on part
					digitClass: 'custom-digit-class',    // class name for entire digit
					height: 40,
					width: 30
				};


				$scope.digitOptionsLCDHum = {
					onClass: 'custom-on-class-env-hum',   // class name for light-on part
					digitClass: 'custom-digit-class',    // class name for entire digit
					height: 30,
					width: 20
				};

				$scope.digitOptionsLCDTemp = {
					onClass: 'custom-on-class-env-temp',  // class name for light-on part
					digitClass: 'custom-digit-class-env',    // class name for entire digit
					height: 30,
					width: 20
				};



				$scope.doSwitchOutletC = function(option){
				    if(option == "on") {
                        $scope.outlet_C = "off";
                        $scope.switchOutletC = 0;
                    } else {
						$scope.outlet_C = "on";
						$scope.switchOutletC = 1;
					}

					if($scope.outlet_C == "on"){
						$scope.relayOn(2);
					}else{
						$scope.relayOff(2);
					}

				}

				$scope.changeOutlets = function (){
					if(parseFloat($scope.currentTempGauge)<parseFloat($scope.targetTempGauge)){
							$scope.outlet_A = "on";
							$scope.relayOn(0);
							$scope.outlet_B = "off";
						    $scope.relayOff(1);
					}else{
							$scope.outlet_A = "off";
							$scope.relayOff(0);
							$scope.outlet_B = "on";
						    $scope.relayOn(1);
					}

				}


				$scope.update = function () {
					$http.get('/update').
						success(function(data) {
							$scope.connected = false;
							console.log('Update and Reboot');
						});
				}


				$scope.reboot = function () {
					$http.get('/reboot').
						success(function(data) {
							$scope.connected = false;
							console.log('Reboot');
						});
				}

				$scope.shutdown = function () {
					$http.get('/shutdown')
						.success(function(data) {
							$scope.connected = false;
							console.log('Shutdown');
						})
						.error(function(data, status) {
  							$scope.connected = false;
						});
				}

				$scope.getTemp = function () {
					$http.get('/getTemp')
						.success(function(data) {
							$scope.connected = true;
							$scope.currentTempGauge = data.c.toString();
							$scope.changeOutlets();
						})
						.error(function(data, status) {
  							$scope.connected = false;
						});
				}

                $scope.getHumTemp = function () {
					$http.get('/getHumTemp')
						.success(function(data) {
							$scope.currentTempEnv = data.temp.toString();
				            $scope.currentHumEnv =  data.hum.toString();
				            console.log('getHumTemp',data )

						})
						.error(function(data, status) {
  							console.log('Error getHumTemp',data )
						});
				}

				$scope.relayOn =  function(item) {
					$http({
						method: 'POST',
						url: '/relayOn',
						data: "relay=" + item,
						headers: {'Content-Type': 'application/x-www-form-urlencoded'}
					});
				}

				$scope.relayOff =  function(item) {
					$http({
						method: 'POST',
						url: '/relayOff',
						data: "relay=" + item,
						headers: {'Content-Type': 'application/x-www-form-urlencoded'}
					});
				}


				$scope.setUpTemp = function(){
				    if($scope.targetTemp<110)
				    	$scope.targetTemp++;
				    $scope.targetTempGauge = $scope.targetTemp.toString();
				}

				$scope.setDownTemp = function(){
				    if($scope.targetTemp>-10)
				    	$scope.targetTemp--;
				    $scope.targetTempGauge = $scope.targetTemp.toString();
				}

				$scope.setUpCountDownTimer = function(){
				    if($scope.targetTimeGauge<120)
				    	$scope.targetTimeGauge++;
				    $interval.cancel($scope.stopTime);
					$scope.setCountDownTimer();
				}

				$scope.setDownCountDownTimer = function(){
					 if($scope.targetTimeGauge>0)
				    	$scope.targetTimeGauge--;
					$interval.cancel($scope.stopTime);
					$scope.setCountDownTimer();
				}

				$scope.setCountDownTimer = function(){
					$scope.currentTimeGauge = $scope.targetTimeGauge + ".00";
					$interval.cancel($scope.stopTime);
				}

				$scope.stopCountDownTimer = function(){
					$interval.cancel($scope.stopTime);
				}

				$scope.pauseCountDownTimer = function(){
					$scope.isPaused = !$scope.isPaused;
				}

				$scope.startTimer = function(){

					var duration = $scope.targetTimeGauge * 60;
					var timer = duration, minutes, seconds;

					$scope.isPaused = false;

					$interval.cancel($scope.stopTime);

					$scope.stopTime = $interval(function () {

						if(!$scope.isPaused){
							minutes = parseInt(timer / 60, 10)
							seconds = parseInt(timer % 60, 10);

							//minutes = minutes < 10 ? "0" + minutes : minutes;
							seconds = seconds < 10 ? "0" + seconds : seconds;

							$scope.currentTimeGauge = minutes + "." + seconds;
							if (--timer < 0) {
								timer = 0;
								$scope.currentTimeGauge = ".....";
								$interval.cancel($scope.stopTime);
								$scope.playSound();
							}
						}

					}, 1000);
				}

				$scope.playSound = function() {
					var sound = document.getElementById("audio");
					sound.play();
				}


				$scope.changeOutlets();
				$scope.getHumTemp();

				$interval(function () {
					$scope.getTemp();
				}, 10000);

				$interval(function () {
					$scope.getHumTemp();
				}, 60000);

			})
	</script>
	<script>
	var clock ;
	 $(document).ready(function() {
		clock = $('#clock').FlipClock({clockFace: 'TwentyFourHourClock',showSeconds: false});
	});
	</script>
	
</div>
</body>
</html>
